body {
	font-family: 'Lato', sans-serif;
	color: #2299DD;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	padding-bottom: 2px;
	text-align: center;
}

p {
	font-family: 'Lato', sans-serif;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

ul {
	list-style-type: none;
}

ul li {
	cursor: pointer;
}

.ui-autocomplete ul {
	list-style-type: none;
}

#instruct {
	color: black;
	text-align: center;
}

#info {
	background-color: rgba(216, 153, 235, 0.82);
	border-radius: 3px;
	display: none;
	width: 200px;
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px 0 5px 5px;
}

#info-children {
	padding-top: 3px;
}

#info-children p {
	margin: 0;
	padding: 0;
}

.link {
	//stroke: #C77EDD;
	stroke: #888888;
	stroke-width: 1.5px;
}

.node {
	cursor: pointer;
	fill: #2299DD;
	stroke: #2299DD;
	//fill: #2ecc71;
}

.stop-word {
	stroke: #888888;
	stroke-width: 2px;
	fill: #888888;
}

.open-word {
	fill: white;
}

text {
	font: 12px Lato;
	pointer-events: none;
	stroke: black;
}

#end {
	fill: none;
	stroke: #888888;
	stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
